.vscode
.idea
target/
dist/
pkg/
node_modules/
.temp/
.DS_Store
*.swp
*.iml

native/artifacts.json
artifacts.json
*.node
wasm-pack.log
**/*.rs.bk

/.temp.*
/.debug_ast.json
/.debug.ll
/test.x
/test.fmt.x

yarn.lock
package-lock.json
yarn-error.log

